
@{
    ViewData["Title"] = "About Page";
}

<div id="About">
    <div align="center">
        <div class="card mt-3" style="width:55%">
            <div class="card-header">
                <h4 class="card-title"><b>About Us</b></h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mt-4" align="left">
                        <div>
                            <img src="~/pic/website-icon/movies.png" />
                            BIA CINEMA, which we laid the foundations of in the last quarter of 2021, is a cinema and ticket website that was established in a very short time. It offers convenience to its users with its convenient and easy interfaces. BIA CINEMA is also a site that allows them to buy tickets from our current cinemas in the current cities for the movies that are on the show. At the same time, the user can view information about the movies that the user likes and that the user has watched before, the user can view the movies in 12 different categories, they can view the advance information about the upcoming movies, and the information about those good old movies that they can't forget. It is a site where users can view the movies they watch most, and where users on our site can view the most liked movies with their votes. BIA CINEMA is a project that takes the vision of growth and development day by day and grows even more.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

